<div *ngIf="!clicSorvete"  class="container">
  <div class="row">
      <ng-container *ngFor="let itemT of tiposList">
          <div  class="card col-md-3">
              <img src="{{itemT.url_imagem}}" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{itemT.tipo}} {{itemT.capacidade}}</h5>
              <p><strong>Price:</strong> ${{itemT.preco}}</p>
              <button class="btn btn-outline-success"  (click)="montarCopo(itemT);" >Adicionar um Sabor</button>
                    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{itemT.tipoS}}</h5>'

          </div>
      </ng-container>

  </div>
    </div>

     <div *ngIf="clicSorvete" class="container">
      <div class="row">
        <ng-container *ngFor="let item of adicionaisList">'
          <div  class="card col-md-3">
              <img src="{{item.imagem}}" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.nome}}</h5>'
            <button class="btn btn-primary" (click)="complementos(item);">Add to cart</button>'
         </div>
        </ng-container>
      </div>
      <div class="row">
        <ng-container *ngFor="let item of SaborList">'
          <div  class="card col-md-3">
              <img src="{{item.url_imagem}}" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.nome}} {{item.tipo}}</h5>'
            <button class="btn btn-primary" (click)="adicionarSorvete(item);">Add to cart</button>'
         </div>
        </ng-container>
      </div>
    </div>


