 <div *ngIf="!clicSorvete"  class="container">
  <div class="row novarow">
    <form >
      <span class="bi bi-search"></span>
      <input type="text" class="form-control" placeholder="Procure item por tipo" (input)="search($event)" >
    </form>

      <ng-container *ngFor="let itemT of tiposList">
          <div  class="card col-md-3">
              <img src="{{itemT.url_imagem}}" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{itemT.tipo}}</h5>
              <p><strong>Tamanho</strong>{{itemT.capacidade}}ml</p>
              <p><strong>Preço:</strong> ${{itemT.preco}}</p>
              <button class="btn btn-primary" (click)="montarCopo(itemT);" >Adicionar um Sabor</button>
          </div>
      </ng-container>

  </div>
    </div>



<div>
  <div *ngIf="clicSorvete"  class="accordion" id="accordionExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Click aqui para escolher seus Sabores
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">

        <div class="accordion-body">

          <div class="container">
            <div  class="row">
          <h3>Você tem direito a {{itemCarrinho.getItem.qtd_sabores}} sabores</h3>
              <ng-container *ngFor="let item of SaborList">
                <div  class="card col-md-3">
                    <img src="{{item.url_imagem}}" alt="">
                    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.nome}} {{item.tipo}}</h5>
                  <button *ngIf="!clicbtnSorvete"  class="btn btn-primary" onclick='this.disabled=true' (click)="adicionarSorvete(item);">Adicionar Sorvete</button>
                  <button *ngIf="clicbtnSorvete"  class="btn btn-primary" disabled (click)="adicionarSorvete(item);">Adicionar Sorvete</button>'
               </div>
              </ng-container>
              </div>
            </div>
        </div>

      </div>


    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Click aqui para acrecentar os adicionais
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">

        <div class="accordion-body">

          <div  class="container">
            <div  class="row">
              <h3>Você tem direito a {{itemCarrinho.getItem.qtd_adicionais}} adicionais</h3>
              <ng-container *ngFor="let item of adicionaisList">
                <div class="card col-md-3">
                    <img src="{{item.imagem}}" alt="">
                    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.nome}}</h5>'
                  <button *ngIf="!clicbtnAdc" class="btn btn-primary" onclick='this.disabled=true' (click)="complementos(item);">Adicionar complementos</button>
                  <button *ngIf="clicbtnAdc" class="btn btn-primary" disabled (click)="complementos(item);">Adicionar complementos</button>
               </div>
              </ng-container>
              </div>
            </div>

        </div>

      </div>

    </div>

    <button class="btn btn-outline-success">Enviar pedido</button>

  </div>

    </div>
