.card {
  margin: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

.novarow form {
  width: 100%;
  position: relative;
}

.novarow span {
  position: absolute;
  top: 0;
  left: 8px;
  bottom: 0;
  margin: auto;
}

.novarow input {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}

.card-text {
  margin-bottom: 0.5rem;
}

.btn-primary {
  margin-top: 1rem;
}